.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.butao {
  margin-top: 35px;
}

.form .input1 {
  height: 50px;
  width: 350px;
  display: flex;
  margin-bottom: 25px;
}

.form .input2 {
  height: 150px;
  width: 350px;
  margin-bottom: 25px;
  display: flex;
}

button {
  width: 350px;
  height: 50px;
  background-color: #482de0cb;
  color: #fff;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
button:hover {
  color: red;
}
